body
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table
{
  border-collapse: collapse;
  text-align: center;
}

th, td, caption
{
  border-style: solid;
  border-width: 1px;
  padding: 5px 10px;
}

caption
{
  font-weight: bold;
  border-bottom: 0;
}