body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

h1, label {
  font-weight: bold;
}

h1 {
  font-size: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.flex-container {
  display: flex;
}

.field {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.width-large {
  width: 600px;
}

.width-medium {
  width: 520px;
}

.width-small {
  width: 283px;
}

.width-smaller {
  width: 172px;
}

.width-tiny {
  width: 70px;
}

.width-very-tiny {
  width: 54px;
}

.bg-blue {
  background-color: #66CCFF;
}

.bg-darkblue {
  background-color: #000066
}

.py-1 {
  padding: 2px;
}

.mn-1 {
  margin-left: -2px;
}

.m-0 {
 margin: 0;
}

.ms-1 {
  margin-left: 2px;
}

.ms-2 {
  margin-left: 6px;
}

.me-1 {
  margin-right: 4px;
}

.mt-2 {
  margin-top: 6px;
}

.mt-3 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 2px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 14px;
}