body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 0.9em;
}

label, p {
  font-weight: bold;
  font-size: 0.8em;
}

textarea {
  resize: none;
}

form {
  max-width: 400px;
}

.field {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.checkbox {
  white-space: nowrap;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
}

.uppercase {
  text-transform: uppercase;
}

.fw-lighter {
  font-weight: normal;
}

.mt {
  margin-top: 20px;
}

.mb-0 {
  margin-bottom: 0;
}

.bg-brown {
  background-color: #CB9C23;
}

.width-small {
  width: 120px;
}

.width-medium-small {
  width: 172px;
}

.width-medium {
  width: 420px;
}

.p-1 {
  padding: 2px;
}

.ps-1 {
  padding-left: 4px;
}

.ps-2 {
  padding-left: 8px;
}
